/* tables */

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

table#t01 {
	width:400px;
}

table#t01 tr:nth-child(even) {
  background-color: #e0ebeb;
}

table#t01 tr:nth-child(odd) {
  background-color: #fff;
}

table#t01 th {
  background-color: black;
  color: white;
}

#t01  tr:hover {
  background-color: orange;
  color: orange;
}

/* account */

div#account {
  padding: 25px;
  background-color: aliceblue;
}
